* {
    font-family: Helvetica;
}

header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    width: 100%;
    text-align: center;
    background: url('./images/pattern.jpeg');
}

main h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

main p strong {
    font-weight: bold;
    color: blue;
}

main #brushes h2 {
    background-color: mediumspringgreen;
}

main #frames h2 {
    background-color: lightcoral;
}

main #paint h2 {
    background-color: skyblue;
}